@import '../../../styles.scss';
.introduction_content {
  //doesn't need width as it's a flex:1 (fill in remainding space) child

  &_title {
    h1 {
      font-size: 9.6rem;
      margin: 0;
      line-height: 1;
      span {
        color: $brand-color;
        font-weight: 700;
      }
    }
  }
  &_sub_title {
    font-size: 2.3rem;
    margin: 0;
    h2 {
      font-weight: 200 !important;
    }
    line-height: 1.2;
    span {
      font-weight: bold;
      color: $brand-color;
    }
  }
  &_description {
    font-size: 1.8rem;
    margin-top: 2.4rem;
    margin-bottom: 4.6rem;
    font-weight: 200 !important;
  }
  &_button {
    &_link {
      background-color: $brand-color;
      padding: 1.2rem 2.4rem;
      color: $background-color;
      border-radius: 4px;
      font-size: 1.8rem;
      cursor: pointer;
      transition: opacity 0.2s;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
