@import '../../styles.scss';
.frame {
  display: flex;
  height: 100vh;

  flex-direction: column;

  > * {
    align-self: stretch; // flex-direction cross-axis for column is width, for row is height
  }
  .content {
    flex: 1;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;

    > .main-body {
      flex: 1;
    }
  }
}
