$text-color: #ebecf3;
$brand-color: #0aff9d;
$background-color: #111;
$side-nav-background-color: #080808;
$heading-color: hsla(0, 0%, 7%, 0.25);

:root {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
svg {
  fill: currentColor;
}
body {
  margin: 0;
  padding: 0;
  color: $text-color;
  background-color: $background-color;
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  a {
    text-decoration: none;
    color: $text-color;
  }
}
